
.link {
    display: inline-flex;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #2f80ed;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px dashed #2f80ed;
    margin: 0 0 0 10px;

    &:hover {
        border-bottom: 1px dashed transparent; 
    }
}