.main_img {
    margin-bottom: 20px;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 16px;
    }
}

.content {
    font-family: "Inter", sans-serif;
    color: #e0e0e0;
    font-size: 16px;
    line-height: 1.5;
}

.list_prop {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    li {
        position: relative;
        color: #e0e0e0;
        margin-right: 15px;
        padding-left: 20px;
        font-size: 16px;
    }

    li:first-child {
        padding-left: 0;
    }

    li::before {
        content: "";
        position: absolute;
        top: 12px;
        right: -20px;
        width: 5px;
        height: 5px;
        background: #2f80ed;
        border-radius: 16px;
    }

    li:last-child::before {
        display: none;
    }
}

.category {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    flex-wrap: wrap;

    li {
        a {
            cursor: pointer;
            display: inline-flex;
            color: #e0e0e0;
            padding: 14px 20px;
            border-radius: 16px;
            margin: 0 15px 15px 0;
            font-size: 14px;
            background: #151f30;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: #2f80ed;
            }
        }
    }
}

.download__wrap {
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #248d5f;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
    // filter: drop-shadow(0px 0px 3px #248d5f);
}

.download__file {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 10px 20px;
    color: #e0e0e0;
    text-decoration: none;
    background: #131720;
    border-radius: 2em;
    transition: all 0.3s ease;

    img {
        transform: translateY(-3px);
    }

    &:hover {
        background: #21795438;
    }
}

.download__quality {
    margin-left: 5px;
}

.download__text {
    margin-left: 5px;
}

.backArrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #151f30;
    border-radius: 30px;
    color: #e0e0e0;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: #2f80ed;
    }
}

.backArrow_text {
    padding-left: 5px;
}
