.search_input {
    font-family: "Inter", sans-serif;
    border-radius: 16px;
    background-color: #151f30;
    padding: 12px 45px 12px 15px;
    font-size: 14px;
    color: #e0e0e0;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border: 2px solid transparent;
    outline: none;
  
    &:focus {
      border: 2px solid rgba(49, 130, 237, 0.4509803922);
    }
  
    @media (max-width: 1200px) {
      background-color: #131720;
    }
  
    @media (max-width: 992px) {
      font-size: 12px;
      background-color: #151f30;
    }
  
    @media (max-width: 576px) {
      font-size: 12px;
      background-color: #151f30;
    }
}