@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap");

body {
  margin: 0;
}

#root {
  margin-top: 70px;
}

@media (max-width: 768px) {
  #root {
    margin-top: 70px;
  }
}

.icon-min__25 {
  width: 25px;
  height: 25px;
}
.icon-min__25__15 {
  width: 25px;
  height: 15px;
}

.width-50 {
  width: 50px;
}

header ul li a.active {
  color: #2f80ed;
}

/* home-slider */
.home-slider .home-slider__card {
  width: 95% !important;
}
.home-slider .home-slider__card_play {
  top: 0;
}
.home-slider .slick-slide {
  /* margin: 0 15px 0 0 !important; */
}
.home-slider .slick-slider {
  /* height: 400px !important; */
}
.home-slider .slick-dots {
}
.home-slider .slick-dots li button:before {
  opacity: 1;
  color: #e0e0e0;
}
.home-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #2767bf;
}
/* home-slider end */

/* catalog__grid-min */
.catalog__grid-min .slick-dots {
  /* bottom: -40px;  */
}
.catalog__grid-min .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #2767bf;
}
.catalog__grid-min .slick-dots li button:before {
  opacity: 1;
  color: #e0e0e0;
}
/* catalog__grid-min end */

.os-host-overflow {
  /* height: 450px; */
}

.os-scrollbar.os-scrollbar-horizontal {
  cursor: pointer;
  margin-left: 10px;
}

.os-theme-light > .os-scrollbar > .os-scrollbar-track {
  background: #131720 !important;
}

.os-theme-light > .os-scrollbar.os-scrollbar-unusable {
  display: none;
}

.os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: #2f80ed !important;
}

.os-scrollbar.os-scrollbar-vertical {
  display: none !important;
}

.home-slider__card_title a {
  bottom: 60px;
}

.home-slider__card_genre-list li a {
  font-family: "Inter", sans-serif;
}

.hamburger {
  padding: 0 !important;
}

.hamburger-box {
  width: 30px !important;
  height: 20px !important;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 30px !important;
  height: 1px !important;
  background-color: #2f80ed !important;
}

.is-active .hamburger-inner,
.is-active .hamburger-inner:after,
.is-active .hamburger-inner:before {
  width: 30px !important;
  height: 1px !important;
  background-color: #eb5757 !important;
}

/* .form-header-search__btn_search-trans {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0px;
  top: 13%;
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
} */
