.wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 83px;
  padding: 10px 0;
  background: #151f30;
  z-index: 9;
  border-bottom: 1px solid #151f30;
  border-top: 1px solid rgba(47, 128, 237, 0.1);
}
