.wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.imgContainer {
    height: 120px;
    width: 80px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: 15px;

    @media (max-width: 576px) {
        height: 90px;
        width: 70px;
        margin: 10px;
    }
}

.mainLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;

    &:hover {
        background: #2f80ed0d;
    }

}

.mainContainer {
    display: flex;
}

.wrap_info {
    width: 180px;

    @media (max-width: 576px) {
        width: 200px;
    }

    @media (max-width: 360px) {
        width: 160px;
    }

    @media (max-width: 320px) {
        width: 140px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.title {
    display: inline-flex;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #e0e0e0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    @media (max-width: 320px) {
        font-size: 13px;
    }
}

.subtitleLine {
    display: inline-flex;
    font-weight: 100;
    font-size: 14px;
    color: #e0e0e0;

    @media (max-width: 320px) {
        font-size: 13px;
    }
}

.rating {
    display: inline-flex;
    font-weight: 100;
    font-size: 14px;
    color: #e0e0e0;
    padding-right: 5px;

    @media (max-width: 320px) {
        font-size: 13px;
    }
}

.subtitle {
    display: inline-flex;
    font-weight: 100;
    font-size: 14px;
    color: #e0e0e0;

    @media (max-width: 320px) {
        font-size: 13px;
    }
}
